Source: debathena-gconf2-config
Section: debathena-config/gnome
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: cdbs, debhelper, dh-buildinfo, config-package-dev (>= 5.0~), gconf2 (>= 2.12.0-2), lsb-release
Standards-Version: 3.9.3

Package: debathena-gconf2-config
Architecture: all
Depends: ${misc:Depends}, gconf2 (>= 2.12.0-2), debathena-pam-config, ucf
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: gconf configuration for Debathena
 This package configures gconf2 to use ~/.gconf.debathena-DIST rather than
 ~/.gconf if your homedirectory is in AFS.  In order to do the dynamic
 computation based on where $HOME is, it uses a PAM module,
 libpam-debathena-home-dir.
